{% trans_default_domain 'admin.delivery.auto' %}


{# Название региона #}
{{ form_row(form.region.address, { label: 'admin.form.label.address'|trans }) }}

<div class="d-flex justify-content-between gap-3">
    {# GPS широта #}
    {{ form_row(form.region.latitude, { label: 'admin.form.label.latitude'|trans }) }}

    {# GPS долгота #}
    {{ form_row(form.region.longitude, { label: 'admin.form.label.longitude'|trans }) }}

</div>




